{% extends 'layout/create.frame.html.twig' %}

{% block create_title %}
    Nouvelle caractéristique
    <span class="badge rounded-pill badge-info">{{ feature_types[resource.type] }}</span>
{% endblock %}
