<turbo-frame id="product-feature-groups-{{ resource.id }}" src="{{ path('app_product_feature_group', { product: resource.id}) }}">
    <button class="btn btn-sm btn-ghost loading"></button>
</turbo-frame>
