<div id="select-option-list">
    {% for option in options %}
        <div>{{ option.label }}</div>
    {% endfor %}
</div>

<turbo-frame id="select-option-add" src="{{ path('app_option_add', { feature: resource.id }) }}" target="_top"></turbo-frame>           